{% extends '../layouts/auth.html' %}
{% block title %}Administrateur - {{ admin.username }}{% endblock %}
{% block content %}
    {% if admin %}
        <header class="w-6/12 mx-auto">
            <div class="mb-2 flex flex-row align-center justify-end gap-2">
                <button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
                        id="openModal">Editer</button>
            </div>
            <div class="p-2 rounded bg-blue-100 grid grid-cols-2 gap-3 ">
                <p>
                    Nom d'utilisateur : <b>{{ admin.username }}</b>
                </p>
                <p>
                    Email : <b>{{admin.email }}</b>
                </p>
                <p>
                    Nom : <b>{{ admin.last_name }}</b>
                </p>
                <p>
                    Prénom : <b>{{ admin.first_name }}</b>
                </p>
                <p>
                    Crée le : <b>{{ admin.date_joined }}</b>
                </p>
            </div>
        </header>
        <div id="modal"
             class="hidden fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
            <div class="bg-white w-1/2 p-6 rounded shadow-lg">
                <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                        id="closeModal">X</button>
                <h2 class="mb-4">
                    Modifier l'administrateur <b>{{ admin.username }}</b>
                </h2>
                <form action="{% url 'admin_details' admin_id=admin.id %}"
                      method="post"
                      class="flex flex-col">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="put">
                    <label for="username" class="block mb-2">Username:</label>
                    <input type="text"
                           id="username"
                           name="username"
                           value="{{ admin.username }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded"
                           required>
                    <label for="first_name" class="block mb-2">First Name:</label>
                    <input type="text"
                           id="first_name"
                           name="first_name"
                           value="{{ admin.first_name }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <label for="last_name" class="block mb-2">Last Name:</label>
                    <input type="text"
                           id="last_name"
                           name="last_name"
                           value="{{ admin.last_name }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <label for="email" class="block mb-2">Email:</label>
                    <input type="email"
                           id="email"
                           name="email"
                           value="{{ admin.email }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <button type="submit"
                            class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
                        Enregistrer
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
    <script>
        document?.getElementById("openModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.remove("hidden");
        });
        document?.getElementById("closeModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.add("hidden");
        });
    </script>
{% endblock %}
