{% extends '../layouts/auth.html' %}
{% block title %}Enseignant - {{ teacher.user.username }}{% endblock %}
{% block content %}
    {% if teacher %}
        <header class="max-w-md mx-auto">
            {% if error %}
                <div class="bg-red-100 border border-red-400 text-red-700 p-2 rounded my-2"
                     role="alert">
                    <strong class="font-bold">Error:</strong>
                    <span class="block sm:inline">{{ error }}</span>
                </div>
            {% endif %}
            <div class="mb-2 flex flex-row align-center justify-end gap-2">
                <button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
                        id="openModal">Modifier</button>
                <button class="bg-white text-gray-700 hover:text-gray-600 border border-gray-700 font-bold py-2 px-4 rounded"
                        id="openModules">Modules</button>
            </div>
            <div class="p-2 rounded bg-blue-100 grid grid-cols-1 sm:grid-cols-2 gap-3 ">
                <p class="truncate">
                    Nom d'utilisateur : <b>{{ teacher.user.username }}</b>
                </p>
                <p class="truncate">
                    Email : <b>{{ teacher.user.email }}</b>
                </p>
                <p class="truncate">
                    Nom : <b>{{ teacher.user.last_name }}</b>
                </p>
                <p class="truncate">
                    Prénom : <b>{{ teacher.user.first_name }}</b>
                </p>
                <p class="truncate">
                    Grade : <b>{{ teacher.grade }}</b>
                </p>
                <p class="truncate">
                    Charge journalière : <b>{{ teacher.daily_load }}</b>
                </p>
                <p class="truncate">
                    Crée le : <b>{{ teacher.user.date_joined }}</b>
                </p>
            </div>
        </header>
            <div class="overflow-x-auto my-8">
            <table class="border-collapse border border-gray-400 w-full">
                <thead>
                    <tr>
                        <th class="border border-gray-400 px-4 py-2">ID</th>
                        <th class="border border-gray-400 px-4 py-2">Nom</th>
                        <th class="border border-gray-400 px-4 py-2">Volume hébdomadaires</th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in teacher_modules %}
                        <tr>
                            <td class="border border-gray-400 px-4 py-2 truncate">{{ module.id }}</td>
                            <td class="border border-gray-400 px-4 py-2 truncate">{{ module.name }}</td>
                            <td class="border border-gray-400 px-4 py-2 truncate">{{ module.weekly_volume }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="p-2 text-center">Aucun module à afficher</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="modulesModal"
             class="hidden fixed z-50 inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
            <div class="bg-white w-full max-w-md p-6 rounded shadow-lg max-h-screen overflow-y-auto">
                <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                        id="closeModules">X</button>
                <h2 class="mb-4">
                    Affecter modules à <b>{{ teacher.user.username }}</b>
                </h2>
                <form action="{% url 'teacher_details' teacher_id=teacher.user.id %}"
                      method="post">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="post">
                    <label for="modules" class="block font-medium mb-1">Modules</label>
                    <select name="modules"
                            id="modules"
                            multiple
                            class="border-gray-700 border focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md shadow-sm">
                        {% for module in modules %}
                            {% if module in teacher_modules %}
                                <option value="{{ module.id }}" selected>{{ module.name }}</option>
                            {% else %}
                                <option value="{{ module.id }}">{{ module.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="flex justify-end mt-2">
                        <button type="submit"
                                class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded-md">Affecter</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="modal"
             class="hidden fixed z-50 inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
            <div class="bg-white w-full max-w-md p-6 rounded shadow-lg max-h-screen overflow-y-auto">
                <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                        id="closeModal">X</button>
                <h2 class="mb-4">
                    Modifier l'enseignant <b>{{ teacher.user.username }}</b>
                </h2>
                <form action="{% url 'teacher_details' teacher_id=teacher.user.id %}"
                      method="post"
                      class="flex flex-col">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="put">
                    <label for="username" class="block mb-2">Nom d'utilisateur:</label>
                    <input type="text"
                           id="username"
                           name="username"
                           value="{{ teacher.user.username }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded"
                           required>
                    <label for="first_name" class="block mb-2">Prénom:</label>
                    <input type="text"
                           id="first_name"
                           name="first_name"
                           value="{{ teacher.user.first_name }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <label for="last_name" class="block mb-2">Nom:</label>
                    <input type="text"
                           id="last_name"
                           name="last_name"
                           value="{{ teacher.user.last_name }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <label for="email" class="block mb-2">Email:</label>
                    <input type="email"
                           id="email"
                           name="email"
                           value="{{ teacher.user.email }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <label for="daily_load" class="block mb-2">Charge journalière:</label>
                    <input type="number"
                           id="daily_load"
                           name="daily_load"
                           value="{{ teacher.daily_load }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <label for="grade" class="block mb-2">Grade:</label>
                    <select name="grade"
                            id="grade"
                            class="border border-gray-400 px-4 py-2 mb-4 rounded">
                        {% for grade in grades %}
                            {% if grade.id == teacher.grade.id %}
                                <option value="{{ grade.id }}" selected>{{ grade.name }}</option>
                            {% else %}
                                <option value="{{ grade.id }}">{{ grade.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit"
                            class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
                        Enregistrer
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
    <script>
        document?.getElementById("openModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.remove("hidden");
        });
        document?.getElementById("closeModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.add("hidden");
        });

        document?.getElementById("openModules")?.addEventListener("click", function() {
            document?.getElementById("modulesModal")?.classList?.remove("hidden");
        });
        document?.getElementById("closeModules")?.addEventListener("click", function() {
            document?.getElementById("modulesModal")?.classList?.add("hidden");
        });
    </script>
{% endblock %}
