{% extends '../layouts/auth.html' %}
{% block title %}Enseignant - {{ teacher.user.username }}{% endblock %}
{% block content %}
    {% if teacher %}
        <header class="max-w-lg mx-auto">
            {% if error %}
                <div class="bg-red-100 border border-red-400 text-red-700 p-2 rounded my-2"
                     role="alert">
                    <strong class="font-bold">Error:</strong>
                    <span class="block sm:inline">{{ error }}</span>
                </div>
            {% endif %}
            <!-- <div class="mb-2 flex flex-row align-center justify-end gap-2">
                <button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
                        id="openModal">Modifier</button>
                <button class="bg-white text-gray-700 hover:text-gray-600 border border-gray-700 font-bold py-2 px-4 rounded"
                        id="openModules">Modules</button>
            </div> -->
            <div class="p-2 rounded bg-blue-100 grid grid-cols-1 sm:grid-cols-2 gap-3">
                <p class="truncate">
                    Nom d'utilisateur : <b>{{ teacher.user.username }}</b>
                </p>
                <p class="truncate">
                    Email : <b>{{ teacher.user.email }}</b>
                </p>
                <p class="truncate">
                    Nom : <b>{{ teacher.user.last_name }}</b>
                </p>
                <p class="truncate">
                    Prénom : <b>{{ teacher.user.first_name }}</b>
                </p>
                <p class="truncate">
                    Grade : <b>{{ teacher.grade }}</b>
                </p>
                <p class="truncate">
                    Charge journalière : <b>{{ teacher.daily_load }}</b>
                </p>
                <p class="truncate">
                    Crée le : <b>{{ teacher.user.date_joined }}</b>
                </p>
            </div>
        </header>
        <div class="overflow-x-auto my-8">
            <table class="border-collapse border border-gray-400 w-full">
                <thead>
                    <tr>
                        <th class="border border-gray-400 px-4 py-2">ID</th>
                        <th class="border border-gray-400 px-4 py-2">Nom</th>
                        <th class="border border-gray-400 px-4 py-2">Volume hébdomadaires</th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in teacher_modules %}
                        <tr>
                            <td class="border border-gray-400 px-4 py-2 truncate">{{ module.id }}</td>
                            <td class="border border-gray-400 px-4 py-2 truncate">{{ module.name }}</td>
                            <td class="border border-gray-400 px-4 py-2 truncate">{{ module.weekly_volume }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="p-2 text-center">Aucun module à afficher</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
