{% extends '../layouts/auth.html' %}
{% block title %}Enseignants{% endblock %}
{% block content %}
    <h2 class="text-lg sm:text-3xl font-bold mb-4"># Liste des enseignants</h2>
    {% if error %}
        <div class="bg-red-100 border border-red-400 text-red-700 p-2 rounded my-2"
             role="alert">
            <strong class="font-bold">Error:</strong>
            <span class="block sm:inline">{{ error }}</span>
        </div>
    {% endif %}
    <button class="bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 rounded mb-4 ml-auto block"
            id="openModal">Ajouter</button>
    <div class="overflow-x-auto">
        <table class="border-collapse border border-gray-400 w-full">
            <thead>
                <tr>
                    <th class="border border-gray-400 px-4 py-2">Nom d'utilisateur</th>
                    <th class="border border-gray-400 px-4 py-2">Prénom</th>
                    <th class="border border-gray-400 px-4 py-2">Nom</th>
                    <th class="border border-gray-400 px-4 py-2">Email</th>
                    <th class="border border-gray-400 px-4 py-2">Grade</th>
                    <th class="border border-gray-400 px-4 py-2">Charge journalière</th>
                    <th class="border border-gray-400 px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td class="border border-gray-400 px-4 py-2 truncate">{{ teacher.user.username }}</td>
                        <td class="border border-gray-400 px-4 py-2 truncate">{{ teacher.user.first_name }}</td>
                        <td class="border border-gray-400 px-4 py-2 truncate">{{ teacher.user.last_name }}</td>
                        <td class="border border-gray-400 px-4 py-2 truncate">{{ teacher.user.email }}</td>
                        <td class="border border-gray-400 px-4 py-2 truncate">{{ teacher.grade }}</td>
                        <td class="border border-gray-400 px-4 py-2 truncate">{{ teacher.daily_load }}</td>
                        <td class="border border-gray-400 px-4 py-2 flex flex-row gap-1">
                            <form action="{% url 'teacher_details' teacher_id=teacher.user.id %}"
                                  method="post">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="delete">
                                <input type="submit"
                                       onclick="return confirm('Etes vous sur de vouloir supprimer cette ressource?');"
                                       class="text-red-600 hover:underline cursor-pointer"
                                       value="supprimer">
                            </form>
                            <button data-id="{{ teacher.user.id }}"
                                    data-username="{{ teacher.user.username }}"
                                    data-first_name="{{ teacher.user.first_name }}"
                                    data-last_name="{{ teacher.user.last_name }}"
                                    data-email="{{ teacher.user.email }}"
                                    data-grade="{{ teacher.grade }}"
                                    data-daily_load="{{ teacher.daily_load }}"
                                    class="text-blue-600 hover:underline openEditModal">modifier</button>
                            <button data-id="{{ teacher.user.id }}"
                                    data-username="{{ teacher.user.username }}"
                                    class="text-green-700 hover:underline openModuleModal">modules</button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="p-2 text-center">Aucun enseignant à afficher</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination flex items-center justify-center mt-10">
        <span class="step-links">
            {% if teachers.has_previous %}
                <a href="?page=1" class="text-blue-500 hover:text-blue-700 mr-3">première</a>
                <a href="?page={{ teachers.previous_page_number }}"
                   class="text-blue-500 hover:text-blue-700 mr-3">précédent</a>
            {% endif %}
            <span class="current text-gray-700 font-bold">Page {{ teachers.number }} sur {{ teachers.paginator.num_pages }}.</span>
            {% if teachers.has_next %}
                <a href="?page={{ teachers.next_page_number }}"
                   class="text-blue-500 hover:text-blue-700 ml-3">suivant</a>
                <a href="?page={{ teachers.paginator.num_pages }}"
                   class="text-blue-500 hover:text-blue-700 ml-3">dernière</a>
            {% endif %}
        </span>
    </div>
    <!-- EDIT Modal -->
    <div id="editModal"
         class="hidden fixed z-50 inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
        <div class="bg-white w-full max-w-md p-6 rounded shadow-lg max-h-screen overflow-y-auto">
            <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                    id="closeEditModal">X</button>
            <h2 class="mb-4" id="teacherName"></h2>
            <form id="editForm" method="post" class="flex flex-col">
                {% csrf_token %}
                <input type="hidden" name="_method" value="put">
                <label for="username" class="block mb-2">Nom d'utilisateur:</label>
                <input type="text"
                       id="username"
                       name="username"
                       value=""
                       class="border border-gray-400 px-4 py-2 mb-4 rounded"
                       required>
                <label for="first_name" class="block mb-2">Prénom:</label>
                <input type="text"
                       id="first_name"
                       name="first_name"
                       value=""
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <label for="last_name" class="block mb-2">Nom:</label>
                <input type="text"
                       id="last_name"
                       name="last_name"
                       value=""
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <label for="email" class="block mb-2">Email:</label>
                <input type="email"
                       id="email"
                       name="email"
                       value=""
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <label for="email" class="block mb-2">Mot de passe:</label>
                <input type="password"
                       id="password"
                       name="password"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded"
                       placeholder="Laisser vide si vous souhaitez pas le modifier">
                <label for="daily_load" class="block mb-2">Charge journalière:</label>
                <input type="number"
                       id="daily_load"
                       name="daily_load"
                       value=""
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <label for="grade" class="block mb-2">Grade:</label>
                <input type="grade"
                       id="grade"
                       name="grade"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <button type="submit"
                        class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
                    Enregistrer
                </button>
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div id="modal"
         class="hidden fixed z-50 inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
        <div class="bg-white w-full max-w-md p-6 rounded shadow-lg max-h-screen overflow-y-auto">
            <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                    id="closeModal">X</button>
            <h2 class="text-lg font-bold mb-4">Ajouter un enseignant</h2>
            <form action="{% url 'teachers' %}" method="post" class="flex flex-col">
                {% csrf_token %}
                <label for="username" class="block mb-2">Nom d'utilisateur:</label>
                <input type="text"
                       id="username"
                       name="username"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded"
                       required>
                <label for="first_name" class="block mb-2">Prénom:</label>
                <input type="text"
                       id="first_name"
                       name="first_name"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <label for="last_name" class="block mb-2">Nom:</label>
                <input type="text"
                       id="last_name"
                       name="last_name"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <label for="email" class="block mb-2">Email:</label>
                <input type="email"
                       id="email"
                       name="email"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <label for="daily_load" class="block mb-2">Charge journalière:</label>
                <input type="number"
                       id="daily_load"
                       name="daily_load"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <label for="grade" class="block mb-2">Grade:</label>
                <input type="grade"
                       id="grade"
                       name="grade"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <label for="password" class="block mb-2">Mot de passe:</label>
                <input type="password"
                       id="password"
                       name="password"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded"
                       required>
                <button type="submit"
                        class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Ajouter</button>
            </form>
        </div>
    </div>
    <!-- Module Modal -->
    <div id="modulesModal"
         class="hidden fixed z-50 inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
        <div class="bg-white w-full max-w-md p-6 rounded shadow-lg max-h-screen overflow-y-auto">
            <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                    id="closeModules">X</button>
            <h2 class="mb-4" id="moduleH2"></h2>
            <form id="moduleForm" method="post">
                {% csrf_token %}
                <input type="hidden" name="_method" value="post">
                <label for="modules" class="block font-medium mb-1">Modules</label>
                <select name="modules"
                        id="modules"
                        multiple
                        class="border-gray-700 border focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md shadow-sm">
                </select>
                <div class="flex justify-end mt-2">
                    <button type="submit"
                            class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded-md">sauvegarder</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        const openModalBtn = document.getElementById('openModal');
        const closeModalBtn = document.getElementById('closeModal');
        const modal = document.getElementById('modal');

        const editModal = document.getElementById('editModal');
        const openEditModalBtns = document.getElementsByClassName('openEditModal');
        const closeEditModalBtn = document.getElementById('closeEditModal');
        const editForm = document.getElementById('editForm');
        const teacherName = document.getElementById('teacherName');

        const modulesModal = document.getElementById('modulesModal');
        const openModuleModalBtns = document.getElementsByClassName('openModuleModal');
        const closeModulesBtn = document.getElementById('closeModules');
        const moduleForm = document.getElementById('moduleForm');
        const moduleH2 = document.getElementById('moduleH2');

        // Get the form fields
        const userNameInput = document.getElementById('username');
        const firstNameInput = document.getElementById('first_name');
        const lastNameInput = document.getElementById('last_name');
        const emailInput = document.getElementById('email');
        const gradeInput = document.getElementById('grade');
        const dailyLoadInput = document.getElementById('daily_load');

        const modulesSelect = document.getElementById('modules');

        openModalBtn?.addEventListener("click", () => modal?.classList?.remove("hidden"));
        closeModalBtn?.addEventListener("click", () => modal?.classList?.add("hidden"));
        Array.from(openEditModalBtns).forEach(button => {
            button.addEventListener("click", () => {
                const rowId = button.getAttribute('data-id');
                const userName = button.getAttribute('data-username');
                const firstName = button.getAttribute('data-first_name');
                const lastName = button.getAttribute('data-last_name');
                const email = button.getAttribute('data-email');
                const grade = button.getAttribute('data-grade');
                const dailyLoad = button.getAttribute('data-daily_load');

                userNameInput.value = userName;
                firstNameInput.value = firstName;
                lastNameInput.value = lastName;
                emailInput.value = email;
                gradeInput.value = grade;
                dailyLoadInput.value = parseInt(dailyLoad);


                // Update the salle name in the <h2> element
                teacherName.innerHTML = "Modifier l'enseignant <b>" + userName + "</b>";
                // Update the form action with the new salle_id
                editForm.action = '/teachers/' + rowId;

                editModal?.classList?.remove("hidden");
            })
        });
        closeEditModalBtn?.addEventListener("click", () => editModal?.classList?.add("hidden"));

        Array.from(openModuleModalBtns).forEach(button => {
            button.addEventListener("click", async function() {
                const rowId = button.getAttribute('data-id');
                const userName = button.getAttribute('data-username');

                // Fetch the modules data using AJAX
                const res = await fetch(`/teachers/${rowId}`);
                const data = await res.json();
                const modules = JSON.parse(data.modules);
                const teacher_modules = JSON.parse(data.teacher_modules);
                console.log({
                    modules,
                    teacher_modules
                });


                modulesSelect.innerHTML = '';
                modules.forEach(function(module) {
                    let option = document.createElement('option');
                    option.value = module.pk;
                    option.textContent = module.fields.name;
                    if (teacher_modules.some(
                            teacherModule => teacherModule.pk === module.pk
                        ))
                        option.selected = true;

                    modulesSelect.appendChild(option);
                });

                // Update the  name in the <h2> element
                moduleH2.innerHTML = "Modules de l'enseignant <b>" + userName + "</b>";
                // Update the form action with the new id
                moduleForm.action = '/teachers/' + rowId;
                modulesModal?.classList?.remove("hidden");
            });
        })

        closeModulesBtn?.addEventListener("click", () => modulesModal?.classList?.add("hidden"));
    </script>
{% endblock %}
