{% extends '../layouts/auth.html' %}
{% block title %}Grade - {{ grade.name }}{% endblock %}
{% block content %}
    {% if grade %}
        <header class="w-6/12 mx-auto">
            <div class="mb-2 flex flex-row align-center justify-end gap-2">
                <button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
                        id="openModal">Editer</button>
            </div>
            <div class="p-2 rounded bg-blue-100 grid grid-cols-2 gap-3 ">
                <p>
                    Grade : <b>{{ grade.name }}</b>
                </p>
                <p>
                    Nombre d'enseignants : <b>{{ grade_count }}</b>
                </p>
            </div>
        </header>
        <section class="w-10/12 mx-auto mt-10">
            <table class="border-collapse border border-gray-400 w-full">
                <thead>
                    <tr>
                        <th class="border border-gray-400 px-4 py-2">Username</th>
                        <th class="border border-gray-400 px-4 py-2">First Name</th>
                        <th class="border border-gray-400 px-4 py-2">Last Name</th>
                        <th class="border border-gray-400 px-4 py-2">Email</th>
                        <th class="border border-gray-400 px-4 py-2">Grade</th>
                        <th class="border border-gray-400 px-4 py-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <td class="border border-gray-400 px-4 py-2">{{ teacher.user.username }}</td>
                            <td class="border border-gray-400 px-4 py-2">{{ teacher.user.first_name }}</td>
                            <td class="border border-gray-400 px-4 py-2">{{ teacher.user.last_name }}</td>
                            <td class="border border-gray-400 px-4 py-2">{{ teacher.user.email }}</td>
                            <td class="border border-gray-400 px-4 py-2">{{ teacher.grade.name }}</td>
                            <td class="border border-gray-400 px-4 py-2 flex flex-row gap-1">
                                <form action="{% url 'teacher_details' teacher_id=teacher.user.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="hidden" name="_redirect" value="/grades/{{grade.id}}">
                                    <input type="submit"
                                           class="text-red-600 hover:underline cursor-pointer"
                                           value="supprimer">
                                </form>
                                <a href="{% url 'teacher_details' teacher_id=teacher.user.id %}"
                                   class="text-blue-600 hover:underline">consulter</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="p-2 text-center">Aucun enseignant à afficher</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination flex items-center justify-center mt-10">
                <span class="step-links">
                    {% if teachers.has_previous %}
                        <a href="?page=1" class="text-blue-500 hover:text-blue-700 mr-3">first</a>
                        <a href="?page={{ teachers.previous_page_number }}"
                           class="text-blue-500 hover:text-blue-700 mr-3">previous</a>
                    {% endif %}
                    <span class="current text-gray-700 font-bold">Page {{ teachers.number }} of {{ teachers.paginator.num_pages }}.</span>
                    {% if teachers.has_next %}
                        <a href="?page={{ teachers.next_page_number }}"
                           class="text-blue-500 hover:text-blue-700 ml-3">next</a>
                        <a href="?page={{ teachers.paginator.num_pages }}"
                           class="text-blue-500 hover:text-blue-700 ml-3">last</a>
                    {% endif %}
                </span>
            </div>
        </section>
        <div id="modal"
             class="hidden fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
            <div class="bg-white w-1/2 p-6 rounded shadow-lg">
                <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                        id="closeModal">X</button>
                <h2 class="mb-4">
                    Modifier le grade <b>{{ grade.name }}</b>
                </h2>
                <form action="{% url 'grade_details' grade_id=grade.id %}"
                      method="post"
                      class="flex flex-col">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="put">
                    <label for="name" class="block mb-2">Grade:</label>
                    <input type="text"
                           id="name"
                           name="name"
                           value="{{ grade.name }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded"
                           required>
                    <button type="submit"
                            class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
                        Enregistrer
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
    <script>
        document?.getElementById("openModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.remove("hidden");
        });
        document?.getElementById("closeModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.add("hidden");
        });
    </script>
{% endblock %}
