{% extends '../layouts/auth.html' %}
{% block title %}Modules{% endblock %}
{% block content %}
    {% if selected_formation and selected_semester %}
        <button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded mb-4 ml-auto block"
                id="openModal">Ajouter un nouveau module</button>
    {% endif %}
    <form method="get" action="{% url 'modules' %}" class="p-1 mt-2 mb-4">
        <label for="formation" class="block text-lg mb-2">Choisir une formation:</label>
        <select name="formation"
                id="formation"
                class="border border-gray-300 rounded px-2 py-1 w-72">
            {% for formation in formations %}
                {% if selected_formation.id == formation.id %}
                    <option value="{{ formation.id }}" selected>{{ formation.name }}</option>
                {% else %}
                    <option value="{{ formation.id }}">{{ formation.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% if selected_formation %}
            <select name="semester"
                    id="semester"
                    class="border border-gray-300 rounded px-2 py-1 w-72">
                {% for semester in semesters %}
                    {% if selected_semester.id == semester.id %}
                        <option value="{{ semester.id }}" selected>{{ semester.name }}</option>
                    {% else %}
                        <option value="{{ semester.id }}">{{ semester.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}
        <button type="submit" class="p-1 bg-gray-700 text-white rounded">show</button>
    </form>
    {% if selected_formation %}
        <h2 class="text-lg my-1">
            Formation: <b>{{ selected_formation.name }}</b>
        </h2>
    {% endif %}
    {% if selected_semester %}
        <h2 class="text-lg my-1">
            Section: <b>{{ selected_semester.name }}</b>
        </h2>
    {% endif %}
    <table class="border-collapse border border-gray-400 w-full">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2">Name</th>
                <th class="border border-gray-400 px-4 py-2">Hourly volume</th>
                <th class="border border-gray-400 px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
                <tr>
                    <td class="border border-gray-400 px-4 py-2">{{ module.name }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ module.volume }}</td>
                    <td class="border border-gray-400 px-4 py-2 flex flex-row gap-1">
                        <form action="{% url 'module_details' module_id=module.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit"
                                   class="text-red-600 hover:underline cursor-pointer"
                                   value="supprimer">
                        </form>
                        <a href="{% url 'module_details' module_id=module.id %}"
                           class="text-blue-600 hover:underline">consulter</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="p-2 text-center">Aucun module à afficher</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Modal -->
    <div id="modal"
         class="hidden fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
        <div class="bg-white w-1/2 p-6 rounded shadow-lg">
            <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                    id="closeModal">X</button>
            <h2 class="text-lg font-bold mb-4">Ajouter un groupe</h2>
            <form action="{% url 'modules' %}" method="post" class="flex flex-col">
                {% csrf_token %}
                <label for="name" class="block mb-2">Name:</label>
                <input type="text"
                       id="name"
                       name="name"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded"
                       required>
                <label for="volume" class="block mb-2">Hourly Volume:</label>
                <input type="number"
                       id="volume"
                       name="volume"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded"
                       required>
                <input type="hidden"
                       id="formation"
                       name="formation"
                       required
                       value="{{ selected_formation.id }}">
                <input type="hidden"
                       id="semester"
                       name="semester"
                       required
                       value="{{ selected_semester.id }}">
                <button type="submit"
                        class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Ajouter</button>
            </form>
        </div>
    </div>
    <script>
        document?.getElementById("openModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.remove("hidden");
        });
        document?.getElementById("closeModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.add("hidden");
        });
    </script>
{% endblock %}
