{% extends '../layouts/auth.html' %}
{% block title %}Modules{% endblock %}
{% block content %}

<h2 class="text-3xl font-bold mb-4"># Liste des modules</h2>
{% if error %}
<div class="bg-red-100 border border-red-400 text-red-700 p-2 rounded my-2"
     role="alert">
       <strong class="font-bold">Error:</strong>
       <span class="block sm:inline">{{ error }}</span>
</div>
{% endif %}

    <button class="bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 rounded mb-4 ml-auto block"
            id="openModal">Ajouter</button>
    <table class="border-collapse border border-gray-400 w-full">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2">Nom</th>
                <th class="border border-gray-400 px-4 py-2">Volume hébdomadire</th>
                <th class="border border-gray-400 px-4 py-2">Semestre</th>
                <th class="border border-gray-400 px-4 py-2">Formation</th>
                <th class="border border-gray-400 px-4 py-2">Niveau</th>
                <th class="border border-gray-400 px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
                <tr>
                    <td class="border border-gray-400 px-4 py-2">{{ module.name }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ module.weekly_volume }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ module.semester.name }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ module.formation.name }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ module.formation.niveau }}</td>
                    <td class="border border-gray-400 px-4 py-2 flex flex-row gap-1">
                        <form action="{% url 'module_details' module_id=module.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit"
                                    onclick="return confirm('Etes vous sur de vouloir supprimer cette ressource?');"
                                   class="text-red-600 hover:underline cursor-pointer"
                                   value="supprimer">
                        </form>
                        <a href="{% url 'module_details' module_id=module.id %}"
                           class="text-blue-600 hover:underline">consulter</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="p-2 text-center">Aucun module à afficher</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination flex items-center justify-center mt-10">
        <span class="step-links">
          {% if modules.has_previous %}
            <a href="?page=1" class="text-blue-500 hover:text-blue-700 mr-3">première</a>
            <a href="?page={{ modules.previous_page_number }}" class="text-blue-500 hover:text-blue-700 mr-3">précédent</a>
          {% endif %}
      
          <span class="current text-gray-700 font-bold">
            Page {{ modules.number }} sur {{ modules.paginator.num_pages }}.
          </span>
      
          {% if modules.has_next %}
            <a href="?page={{ modules.next_page_number }}" class="text-blue-500 hover:text-blue-700 ml-3">suivant</a>
            <a href="?page={{ modules.paginator.num_pages }}" class="text-blue-500 hover:text-blue-700 ml-3">dernière</a>
          {% endif %}
        </span>
      </div>
    <!-- Modal -->
    <div id="modal"
         class="hidden fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
        <div class="bg-white w-1/2 p-6 rounded shadow-lg">
            <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                    id="closeModal">X</button>
            <h2 class="text-lg font-bold mb-4">Ajouter un module</h2>
            <form action="{% url 'modules' %}" method="post" class="flex flex-col">
                {% csrf_token %}
                <label for="name" class="block mb-2">Nom:</label>
                <input type="text"
                       id="name"
                       name="name"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded"
                       required>
                <label for="weekly_volume" class="block mb-2">Volume hébdomadire:</label>
                <input type="number"
                       id="weekly_volume"
                       name="weekly_volume"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded"
                       required>
                <label for="formation" class="block text-lg mb-2">Formation:</label>
                <select name="formation"
                        id="formation"
                        class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    {% for formation in formations %}<option value="{{ formation.id }}">{{ formation.name }} - {{ formation.niveau }}</option>{% endfor %}
                </select>
                <label for="semester" class="block text-lg mb-2">Semestre:</label>
                <select name="semester"
                        id="semester"
                        class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    {% for semester in semesters %}<option value="{{ semester.id }}">{{ semester.name }} : {{ semester.start }} - {{ semester.end }}</option>{% endfor %}
                </select>
                <button type="submit"
                        class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Ajouter</button>
            </form>
        </div>
    </div>
    <script>
        document?.getElementById("openModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.remove("hidden");
        });
        document?.getElementById("closeModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.add("hidden");
        });
    </script>
{% endblock %}
