{% extends 'layouts/auth.html' %}
{% block title %}Emploi du temps{% endblock %}
{% block content %}
  {% if group %}
    <header class="p-2 rounded bg-blue-200 grid grid-cols-3 gap-3">
      <h1>
        Formation : <b>{{ group.section.formation.name }}</b>
      </h1>
      <h2>
        Section : <b>{{ group.section.name }}</b>
      </h2>
      <h2>
        Groupe : <b>{{ group.name }}</b>
      </h2>
    </header>
    <form method="get"
          action="{% url 'programs' group_id=group.pk %}"
          class="p-1 mt-2 mb-4">
      <label for="semester" class="block text-lg mb-2">Choisir un semestre:</label>
      <select name="semester"
              id="semester"
              class="border border-gray-300 rounded px-2 py-1 w-72">
        {% for semester in semesters %}
          {% if selected_semester.id == semester.id %}
            <option value="{{ semester.id }}" selected>{{ semester.name }} : {{ semester.start }} - {{ semester.end }}</option>
          {% else %}
            <option value="{{ semester.id }}">{{ semester.name }} : {{ semester.start }} - {{ semester.end }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button type="submit" class="p-1 bg-gray-700 text-white rounded">Ok</button>
    </form>
    {% if selected_semester %}
      <section class="p-2 my-4">
        <table class="border-collapse border border-gray-400 w-full">
          <thead>
            <tr>
              <th class="border border-gray-400 px-4 py-2"></th>
              {% for day in days %}<th class="border border-gray-400 px-4 py-2">{{ day }}</th>{% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for time in times %}
              <tr>
                <td class="border border-gray-400 px-4 py-2">{{ time }}</td>
                {% for day in days %}
                  <td class="border border-gray-400 px-4 py-2" data-seance>
                    <div class="program-cell">
                      {% for program in programs %}
                        {% if program.day == day and program.time == time %}
                          <div class="program-event">
                            <span class="program-event-info">{{ program.type }}</span>
                            <span class="program-event-info">{{ program.enseignant.user.username }}</span>
                            <span class="program-event-info">{{ program.groupe.name }}</span>
                            <span class="program-event-info">{{ program.salle.name }}</span>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div id="seance-modal"
             class="hidden fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center">
          <div class="bg-white p-8 rounded-lg  min-w-[500px]">
            <h2 class="text-2xl font-bold mb-4">Ajouter créneau</h2>
            <form action="{% url 'programs' group_id=group.pk %}"
                  method="post"
                  class="flex flex-col gap-2">
              {% csrf_token %}
              <input type="hidden" id="groupe-input" name="groupe" alue="{{ group.id }}">
              <input type="hidden" id="day-input" name="day">
              <label for="subject">Module :</label>
              <select name="subject"
                      id="subject"
                      class="border border-gray-300 rounded px-2 py-1 w-full">
                {% for module in modules %}<option value="{{ module.id }}">{{ module.name }}</option>{% endfor %}
              </select>
              <label for="teacher">Enseignant :</label>
              <select name="teacher"
                      id="teacher"
                      class="border border-gray-300 rounded px-2 py-1 w-full">
                {% for teacher in teachers %}<option value="{{ teacher.user.id }}">{{ teacher.user.username }}</option>{% endfor %}
              </select>
              <label for="salle">Salle :</label>
              <select name="salle"
                      id="salle"
                      class="border border-gray-300 rounded px-2 py-1 w-full">
                {% for salle in salles %}<option value="{{ salle.id }}">{{ salle.name }}</option>{% endfor %}
              </select>
              <label for="type">Type:</label>
              <input type="text"
                     id="type"
                     name="type"
                     class="border border-gray-400 px-4 py-2 mb-4 rounded">
              <div class="flex flex-row align-center justify-center gap-2">
                <button type="submit" class="bg-gray-700 text-white px-4 py-2 mt-4 rounded">Sauvegarder</button>
                <button type="reset"
                        id="close-modal-btn"
                        class="bg-gray-300 text-gray-700 px-4 py-2 mt-4 rounded">Annuler</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    {% endif %}
  {% endif %}
  <script>
      const seances = Array.from(document.querySelectorAll("[data-seance]"));
      const modal = document.getElementById('seance-modal');
      const closeModalBtn = document.getElementById('close-modal-btn');

      seances.forEach((seance) => {
          seance.addEventListener("click", function() {
              console.log("clicked", seance.getAttribute("data-seance"));
              modal.classList.remove('hidden');
          });
      });
      closeModalBtn.addEventListener('click', function() {
          modal.classList.add('hidden');
      });
  </script>
{% endblock %}
