{% extends '../layouts/auth.html' %} 
{% block title %}Section{%endblock %} 
{%block content %}
<button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded mb-4 ml-auto block" id="openModal">Ajouter une nouvelle section</button>

<form method="get" action="{% url 'sections' %}" class="p-1 mt-2 mb-4">
    <label for="formation" class="block text-lg mb-2">Choisir une formation:</label>
    <select name="formation" id="formation" class="border border-gray-300 rounded px-2 py-1 w-72">
      {% for formation in formations %}
        <option value="{{ formation.id }}">{{ formation.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="p-1 bg-gray-700 text-white rounded">show</button>
  </form>

  {% if selected_formation %}
  <h2 class="text-lg my-1">Sections: <b>{{ selected_formation.name }}</b></h2>
  {% endif %}

<table class="border-collapse border border-gray-400 w-full">
    <thead>
        <tr>
            <th class="border border-gray-400 px-4 py-2">Name</th>
            <th class="border border-gray-400 px-4 py-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for section in sections %}
            <tr>
                <td class="border border-gray-400 px-4 py-2">{{ section.name }}</td>
                <td class="border border-gray-400 px-4 py-2 flex flex-row gap-1">
                    <form action="{% url 'section_details' section_id=section.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit"
                               class="text-red-600 hover:underline cursor-pointer"
                               value="supprimer">
                    </form>
                    <a href="{% url 'section_details' section_id=section.id %}"
                       class="text-blue-600 hover:underline">consulter</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2" class="p-2 text-center">Aucune section selectionnée</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div id="modal" class="hidden fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
    <div class="bg-white w-1/2 p-6 rounded shadow-lg">
        <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white " id="closeModal">X</button>
        <h2 class="text-lg font-bold mb-4">Ajouter une nouvelle section</h2>
        <form action="{% url 'sections' %}" method="post" class="flex flex-col">
            {% csrf_token %}
            <label for="name" class="block mb-2">Name:</label>
            <input type="text" id="name" name="name" class="border border-gray-400 px-4 py-2 mb-4 rounded" required>
            <input type="hidden" id="formation" name="formation" required value="{{ selected_formation.id }}">
            <button type="submit" class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Ajouter</button>
        </form>
    </div>
</div>

<script>
    document?.getElementById("openModal")?.addEventListener("click", function() {
        document?.getElementById("modal")?.classList?.remove("hidden");
    });
    document?.getElementById("closeModal")?.addEventListener("click", function() {
        document?.getElementById("modal")?.classList?.add("hidden");
    });
</script>
{% endblock %}