{% extends '../layouts/auth.html' %}
{% block title %}Salle - {{ salle.name }}{% endblock %}
{% block content %}
    {% if salle %}
        <header class="max-w-lg mx-auto">
            {% if error %}
                <div class="bg-red-100 border border-red-400 text-red-700 p-2 rounded my-2"
                     role="alert">
                    <strong class="font-bold">Error:</strong>
                    <span class="block sm:inline">{{ error }}</span>
                </div>
            {% endif %}
            <div class="mb-2 flex flex-row align-center justify-end gap-2">
                <button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
                        id="openModal">Modifier</button>
            </div>
            <div class="p-2 rounded bg-blue-100 grid grid-cols-1 sm:grid-cols-2 gap-3 ">
                <p class="truncate">
                    Salle : <b>{{ salle.name }}</b>
                </p>
                <p class="truncate">
                    Type : <b>{{ salle.type }}</b>
                </p>
                <p class="truncate">
                    Capacité : <b>{{ salle.capacity }}</b>
                </p>
            </div>
        </header>
        <div id="modal"
             class="fixed z-50 inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
            <div class="bg-white w-full max-w-md p-6 rounded shadow-lg max-h-screen overflow-y-auto">
                <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                        id="closeModal">X</button>
                <h2 class="mb-4">
                    Modifier la salle <b>{{ salle.name }}</b>
                </h2>
                <form action="{% url 'salle_details' salle_id=salle.id %}"
                      method="post"
                      class="flex flex-col">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="put">
                    <label for="name" class="block mb-2">Salle:</label>
                    <input type="text"
                           id="name"
                           name="name"
                           value="{{ salle.name }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded"
                           required>
                    <label for="type" class="block mb-2">Type:</label>
                    <select name="type"
                            id="type"
                            class="border border-gray-400 px-4 py-2 mb-4 rounded">
                        {% for type in types %}
                            {% if type == salle.type %}
                                <option value="{{ type }}" selected>{{ type }}</option>
                            {% else %}
                                <option value="{{ type }}">{{ type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="capacity" class="block mb-2">Capacité:</label>
                    <input type="number"
                           id="capacity"
                           name="capacity"
                           value="{{ salle.capacity }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <button type="submit"
                            class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
                        Enregistrer
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
    <script>
        document?.getElementById("openModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.remove("hidden");
        });
        document?.getElementById("closeModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.add("hidden");
        });
    </script>
{% endblock %}
