{% extends '../layouts/auth.html' %}
{% block title %}Semestre - {{ semester.name }}{% endblock %}
{% block content %}
    {% if semester %}
        <header class="w-6/12 mx-auto">
            {% if error %}
                <div class="bg-red-100 border border-red-400 text-red-700 p-2 rounded my-2"
                     role="alert">
                    <strong class="font-bold">Error:</strong>
                    <span class="block sm:inline">{{ error }}</span>
                </div>
            {% endif %}
            <div class="mb-2 flex flex-row align-center justify-end gap-2">
                <button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
                        id="openModal">Modifier</button>
            </div>
            <div class="p-2 rounded bg-blue-100 grid grid-cols-2 gap-3 ">
                <p>
                    Semestre : <b>{{ semester.name }}</b>
                </p>
                <p>
                    Debut : <b>{{ semester.start }}</b>
                </p>
                <p>
                    Fin : <b>{{ semester.end }}</b>
                </p>
                <p>
                    Session : <b>{{ semester.session }}</b>
                </p>
            </div>
        </header>
        <div id="modal"
             class="hidden fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
            <div class="bg-white w-1/2 p-6 rounded shadow-lg">
                <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                        id="closeModal">X</button>
                <h2 class="mb-4">
                    Modifier le semestre <b>{{ semester.name }}</b>
                </h2>
                <form action="{% url 'semester_details' semester_id=semester.id %}"
                      method="post"
                      class="flex flex-col">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="put">
                    <label for="name" class="block mb-2">Nom:</label>
                    <input type="text"
                           id="name"
                           name="name"
                           value="{{ semester.name }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded"
                           required>
                    <label for="session" class="block mb-2">Session:</label>
                    <select name="session"
                            id="session"
                            class="border border-gray-400 px-4 py-2 mb-4 rounded">
                        {% for session in sessions %}
                            {% if session == semester.session %}
                                <option value="{{ session }}" selected>{{ session }}</option>
                            {% else %}
                                <option value="{{ session }}">{{ session }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="start" class="block mb-2">Début:</label>
                    <input type="date"
                           id="start"
                           name="start"
                           value="{{ semester.start }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <label for="end" class="block mb-2">Fin:</label>
                    <input type="date"
                           id="end"
                           name="end"
                           value="{{ semester.end }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <button type="submit"
                            class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
                        Enregistrer
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
    <script>
        document?.getElementById("openModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.remove("hidden");
        });
        document?.getElementById("closeModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.add("hidden");
        });
    </script>
{% endblock %}
