{% extends '../layouts/auth.html' %}
{% block title %}Semestres{% endblock %}
{% block content %}
<h2 class="text-lg sm:text-3xl font-bold mb-4"># Liste de semestres</h2>
{% if error %}
<div class="bg-red-100 border border-red-400 text-red-700 p-2 rounded my-2"
     role="alert">
       <strong class="font-bold">Error:</strong>
       <span class="block sm:inline">{{ error }}</span>
</div>
{% endif %}
    <button class="bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 rounded mb-4 ml-auto block"
            id="openModal">Ajouter</button>
            <div class="overflow-x-auto">
    <table class="border-collapse border border-gray-400 w-full">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2">Nom</th>
                <th class="border border-gray-400 px-4 py-2">Session</th>
                <th class="border border-gray-400 px-4 py-2">Date début</th>
                <th class="border border-gray-400 px-4 py-2">Date fin</th>
                <th class="border border-gray-400 px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for semester in semesters %}
                <tr>
                    <td class="border border-gray-400 px-4 py-2 truncate">{{ semester.name }}</td>
                    <td class="border border-gray-400 px-4 py-2 truncate">{{ semester.session }}</td>
                    <td class="border border-gray-400 px-4 py-2 truncate">{{ semester.start }}</td>
                    <td class="border border-gray-400 px-4 py-2 truncate">{{ semester.end }}</td>
                    <td class="border border-gray-400 px-4 py-2 flex flex-row gap-1">
                        <form action="{% url 'semester_details' semester_id=semester.id %}"
                              method="post">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit"
                                    onclick="return confirm('Etes vous sur de vouloir supprimer cette ressource?');"
                                   class="text-red-600 hover:underline cursor-pointer"
                                   value="supprimer">
                        </form>
                        <button data-id="{{semester.pk}}"
                        data-name="{{semester.name}}"
                        data-session="{{semester.session}}"
                        data-start="{{semester.start}}"
                        data-end="{{semester.end}}"
                           class="text-blue-600 hover:underline openEditModal">modifier</button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="p-2 text-center">Aucun semestre trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <div class="pagination flex items-center justify-center mt-10">
        <span class="step-links">
            {% if semesters.has_previous %}
                <a href="?page=1" class="text-blue-500 hover:text-blue-700 mr-3">première</a>
                <a href="?page={{ semesters.previous_page_number }}"
                   class="text-blue-500 hover:text-blue-700 mr-3">précédent</a>
            {% endif %}
            <span class="current text-gray-700 font-bold">Page {{ semesters.number }} sur {{ semesters.paginator.num_pages }}.</span>
            {% if semesters.has_next %}
                <a href="?page={{ semesters.next_page_number }}"
                   class="text-blue-500 hover:text-blue-700 ml-3">suivant</a>
                <a href="?page={{ semesters.paginator.num_pages }}"
                   class="text-blue-500 hover:text-blue-700 ml-3">dernière</a>
            {% endif %}
        </span>
    </div>
    <!-- EDIT Modal -->
    <div id="editModal"
             class="hidden fixed z-50 inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
            <div class="bg-white w-full max-w-md p-6 rounded shadow-lg max-h-screen overflow-y-auto">
                <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                        id="closeEditModal">X</button>
                <h2 class="mb-4" id="semesterName"></h2>
                <form id="editForm"
                      method="post"
                      class="flex flex-col">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="put">
                    <label for="name" class="block mb-2">Nom:</label>
                    <input type="text"
                           id="name"
                           name="name"
                           value=""
                           class="border border-gray-400 px-4 py-2 mb-4 rounded"
                           required>
                    <label for="session" class="block mb-2">Session:</label>
                    <select name="session"
                            id="session"
                            class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    </select>
                    <label for="start" class="block mb-2">Début:</label>
                    <input type="date"
                           id="start"
                           name="start"
                           value=""
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <label for="end" class="block mb-2">Fin:</label>
                    <input type="date"
                           id="end"
                           name="end"
                           value=""
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <button type="submit"
                            class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
                        Enregistrer
                    </button>
                </form>
            </div>
        </div>
    <!-- Modal -->
    <div id="modal"
         class="hidden fixed z-50 inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
        <div class="bg-white w-full max-w-md p-6 rounded shadow-lg max-h-screen overflow-y-auto">
            <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                    id="closeModal">X</button>
            <h2 class="text-lg font-bold mb-4">Ajouter un nouveau semestre</h2>
            <form action="{% url 'semesters' %}" method="post" class="flex flex-col">
                {% csrf_token %}
                <label for="name" class="block mb-2">Nom:</label>
                <input type="text"
                       id="name"
                       name="name"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded"
                       required>
                <label for="session" class="block mb-2">Session:</label>
                <select name="session"
                        id="session"
                        class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    {% for session in sessions %}<option value="{{ session }}">{{ session }}</option>{% endfor %}
                </select>
                <label for="start" class="block mb-2">Date début:</label>
                <input type="date"
                       id="start"
                       name="start"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded"
                       required>
                <label for="end" class="block mb-2">Date fin:</label>
                <input type="date"
                       id="end"
                       name="end"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded"
                       required>
                <button type="submit"
                        class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Ajouter</button>
            </form>
        </div>
    </div>
    <script>
        const openModalBtn = document.getElementById('openModal');
        const closeModalBtn = document.getElementById('closeModal');
        const modal = document.getElementById('modal');
        const editModal = document.getElementById('editModal');
        const openEditModalBtns = document.getElementsByClassName('openEditModal');
        const closeEditModalBtn = document.getElementById('closeEditModal');
        const editForm = document.getElementById('editForm');
        const semesterName = document.getElementById('semesterName');
    
        // Get the form fields
        const nameInput = document.getElementById('name');
        const sessionSelect = document.getElementById('session');
        const startInput = document.getElementById('start');
        const endInput = document.getElementById('end');
    
        openModalBtn?.addEventListener("click", () => modal?.classList?.remove("hidden"));
        closeModalBtn?.addEventListener("click", () => modal?.classList?.add("hidden"));
        Array.from(openEditModalBtns).forEach(button => {
            button.addEventListener("click", () => {
                const rowId = button.getAttribute('data-id');
                const name = button.getAttribute('data-name');
                const session = button.getAttribute('data-session');
                const start = button.getAttribute('data-start');
                const end = button.getAttribute('data-end');
    
                nameInput.value = name;
                startInput.value = start;
                endInput.value = end;
    
                const sessions = ["février", "juin"]
                sessionSelect.innerHTML = '';
                sessions.forEach(function(month) {
                    let option = document.createElement('option');
                    option.value = month;
                    option.textContent = month;
                    if (month === session) {
                        option.selected = true;
                    }
                    sessionSelect.appendChild(option);
                });
    
                // Update the salle name in the <h2> element
                semesterName.innerHTML = 'Modifier le semestre <b>' + name + '</b>';
                // Update the form action with the new salle_id
                editForm.action = '/semesters/' + rowId;
    
                editModal?.classList?.remove("hidden");
            })
        });
        closeEditModalBtn?.addEventListener("click", () => editModal?.classList?.add("hidden"));
    </script>
{% endblock %}
