{% extends '../layouts/auth.html' %}
{% block title %}Groupe - {{ group.name }}{% endblock %}
{% block content %}
  {% if group %}
    <header class="max-w-lg mx-auto">
      {% if error %}
        <div class="bg-red-100 border border-red-400 text-red-700 p-2 rounded my-2"
             role="alert">
          <strong class="font-bold">Error:</strong>
          <span class="block sm:inline">{{ error }}</span>
        </div>
      {% endif %}
      <!-- <div class="mb-2 flex flex-row align-center justify-end gap-2">
        <button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
                id="openModal">Modifier</button>
      </div> -->
      <div class="p-2 rounded bg-blue-100 grid grid-cols-1 sm:grid-cols-2 gap-3">
        <p class="truncate">
          Groupe : <b>{{ group.name }}</b>
        </p>
        <p class="truncate">
          Section : <b>{{ group.section.name }}</b>
        </p>
        <p class="truncate">
          Formation : <b>{{ group.section.formation.name }}</b>
        </p>
        <p class="truncate">
          Niveau : <b>{{ group.section.formation.niveau }}</b>
        </p>
      </div>
    </header>
  {% endif %}
{% endblock %}
