{% extends '../layouts/auth.html' %}
{% block title %}Groupe - {{ group.name }}{% endblock %}
{% block content %}
  {% if group %}
    <header class="w-6/12 mx-auto">
      <div class="mb-2 flex flex-row align-center justify-end gap-2">
        <button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
                id="openModal">Editer</button>
      </div>
      <div class="p-2 rounded bg-blue-100 grid grid-cols-2 gap-3 ">
        <p>
          Groupe : <b>{{ group.name }}</b>
        </p>
        <p>
          Section : <b>{{ group.section.name }}</b>
        </p>
        <p>
          Formation : <b>{{ group.section.formation.name }}</b>
        </p>
      </div>
    </header>
    <div id="modal"
         class="hidden fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
      <div class="bg-white w-1/2 p-6 rounded shadow-lg">
        <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                id="closeModal">X</button>
        <h2 class="mb-4">
          Modifier le groupe <b>{{ group.name }}</b>
        </h2>
        <form action="{% url 'group_details' group_id=group.id %}"
              method="post"
              class="flex flex-col">
          {% csrf_token %}
          <input type="hidden" name="_method" value="put">
          <label for="name" class="block mb-2">Groupe:</label>
          <input type="text"
                 id="name"
                 name="name"
                 value="{{ group.name }}"
                 class="border border-gray-400 px-4 py-2 mb-4 rounded"
                 required>
          <label for="section">Section :</label>
          <select name="section"
                  id="section"
                  class="border border-gray-300 rounded px-4 py-2 w-full mb-4">
            {% for section in sections %}
              {% if section.id == group.section.id %}
                <option value="{{ section.id }}" selected>{{ section.name }}</option>
              {% else %}
                <option value="{{ section.id }}">{{ section.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <button type="submit"
                  class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Enregistrer</button>
        </form>
      </div>
    </div>
    <form method="get"
          action="{% url 'group_details' group_id=group.id %}"
          class="p-1 mt-2 mb-4 w-6/12 mx-auto">
      <label for="semester" class="block text-lg mb-2">Choisir un semestre:</label>
      <select name="semester"
              id="semester"
              class="border border-gray-400 px-4 py-2 mb-4 rounded w-72">
        {% for semester in semesters %}
          {% if selected_semester.id == semester.id %}
            <option value="{{ semester.id }}" selected>{{ semester.name }} : {{ semester.start }} - {{ semester.end }}</option>
          {% else %}
            <option value="{{ semester.id }}">{{ semester.name }} : {{ semester.start }} - {{ semester.end }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button type="submit" class="p-2 bg-gray-700 text-white rounded">Ok</button>
    </form>
    {% if selected_semester %}
      <section class="p-2 my-4 w-9/12 mx-auto">
        <div class="mb-4 flex flex-row align-center justify-end gap-2">
          <button class="bg-green-700 hover:bg-green-600 text-white py-2 px-4 rounded text-sm"
                  onclick="downloadPDF()">Download PDF</button>
          <button class="bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 rounded text-sm"
                  id="openSeanceModal">Ajouter créneau</button>
        </div>
        <div class="grid grid-cols-5 gap-2" id="edt">
          {% for day in days %}<div class="font-semibold text-center p-2">{{ day }}</div>{% endfor %}
          <div class="flex flex-col gap-2">
            {% for seance in dimanche %}
              <div class="bg-blue-200 rounded p-1 flex flex-col gap-1">
                <span>{{ seance.subject.name }} - {{ seance.salle.name }}</span>
                <span>{{ seance.enseignant.user.first_name }} {{ seance.enseignant.user.last_name }}</span>
                <span>{{ seance.start_time }} - {{ seance.end_time }}</span>
                <span>{{ seance.type }}</span>
              </div>
            {% empty %}
              <div class="p-2 text-center">Empty</div>
            {% endfor %}
          </div>
          <div class="flex flex-col gap-2">
            {% for seance in lundi %}
              <div class="bg-blue-200 rounded p-1 flex flex-col gap-1">
                <span>{{ seance.subject.name }} - {{ seance.salle.name }}</span>
                <span>{{ seance.enseignant.user.first_name }} {{ seance.enseignant.user.last_name }}</span>
                <span>{{ seance.start_time }} - {{ seance.end_time }}</span>
                <span>{{ seance.type }}</span>
              </div>
            {% empty %}
              <div class="p-2 text-center">Empty</div>
            {% endfor %}
          </div>
          <div class="flex flex-col gap-2">
            {% for seance in mardi %}
              <div class="bg-blue-200 rounded p-1 flex flex-col gap-1">
                <span>{{ seance.subject.name }} - {{ seance.salle.name }}</span>
                <span>{{ seance.enseignant.user.first_name }} {{ seance.enseignant.user.last_name }}</span>
                <span>{{ seance.start_time }} - {{ seance.end_time }}</span>
                <span>{{ seance.type }}</span>
              </div>
            {% empty %}
              <div class="p-2 text-center">Empty</div>
            {% endfor %}
          </div>
          <div class="flex flex-col gap-2">
            {% for seance in mercredi %}
              <div class="bg-blue-200 rounded p-1 flex flex-col gap-1">
                <span>{{ seance.subject.name }} - {{ seance.salle.name }}</span>
                <span>{{ seance.enseignant.user.first_name }} {{ seance.enseignant.user.last_name }}</span>
                <span>{{ seance.start_time }} - {{ seance.end_time }}</span>
                <span>{{ seance.type }}</span>
              </div>
            {% empty %}
              <div class="p-2 text-center">Empty</div>
            {% endfor %}
          </div>
          <div class="flex flex-col gap-2">
            {% for seance in jeudi %}
              <div class="bg-blue-200 rounded p-1 flex flex-col gap-1">
                <span>{{ seance.subject.name }} - {{ seance.salle.name }}</span>
                <span>{{ seance.enseignant.user.first_name }} {{ seance.enseignant.user.last_name }}</span>
                <span>{{ seance.start_time }} - {{ seance.end_time }}</span>
                <span>{{ seance.type }}</span>
              </div>
            {% empty %}
              <div class="p-2 text-center">Empty</div>
            {% endfor %}
          </div>
        </div>
        <div id="seance-modal"
             class="hidden fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center">
          <div class="bg-white p-4 rounded-lg  min-w-[500px]">
            <h2 class="text-2xl font-bold mb-4">Ajouter créneau</h2>
            <form action="{% url 'group_details' group_id=group.id %}"
                  method="post"
                  class="flex flex-col gap-1">
              {% csrf_token %}
              <input type="hidden" name="_method" value="post">
              <input type="hidden" id="groupe" name="groupe" value="{{ group.id }}">
              <input type="hidden"
                     id="semester"
                     name="semester"
                     value="{{ selected_semester.id }}">
              <label for="day">Day :</label>
              <select name="day"
                      id="day"
                      class="border border-gray-400 px-4 py-2 mb-2 rounded">
                {% for day in days %}<option value="{{ day }}">{{ day }}</option>{% endfor %}
              </select>
              <label for="start_time">Debut :</label>
              <input type="time"
                     id="start_time"
                     name="start_time"
                     class="border border-gray-400 px-4 py-2 mb-2 rounded">
              <label for="end_time">Fin :</label>
              <input type="time"
                     id="end_time"
                     name="end_time"
                     class="border border-gray-400 px-4 py-2 mb-2 rounded">
              <label for="subject">Module :</label>
              <select name="subject"
                      id="subject"
                      class="border border-gray-400 px-4 py-2 mb-2 rounded">
                {% for module in modules %}<option value="{{ module.id }}">{{ module.name }}</option>{% endfor %}
              </select>
              <label for="enseignant">Enseignant :</label>
              <select name="enseignant"
                      id="enseignant"
                      class="border border-gray-400 px-4 py-2 mb-2 rounded">
                {% for teacher in teachers %}<option value="{{ teacher.user.id }}">{{ teacher.user.username }}</option>{% endfor %}
              </select>
              <label for="salle">Salle :</label>
              <select name="salle"
                      id="salle"
                      class="border border-gray-400 px-4 py-2 mb-2 rounded">
                {% for salle in salles %}<option value="{{ salle.id }}">{{ salle.name }}</option>{% endfor %}
              </select>
              <label for="type">Type:</label>
              <input type="text"
                     id="type"
                     name="type"
                     class="border border-gray-400 px-4 py-2 mb-2 rounded">
              <div class="flex flex-row align-center justify-center gap-2 mt-4">
                <button type="submit" class="bg-gray-700 text-white px-4 py-2  rounded">Sauvegarder</button>
                <button type="reset"
                        id="close-modal-btn"
                        class="bg-gray-300 text-gray-700 px-4 py-2 rounded">Annuler</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    {% endif %}
  {% endif %}
  <script>
      document?.getElementById("openModal")?.addEventListener("click", function() {
          document?.getElementById("modal")?.classList?.remove("hidden");
      });
      document?.getElementById("closeModal")?.addEventListener("click", function() {
          document?.getElementById("modal")?.classList?.add("hidden");
      });

      document?.getElementById("openSeanceModal")?.addEventListener("click", function() {
          document?.getElementById("seance-modal")?.classList?.remove("hidden");
      });
      document?.getElementById("close-modal-btn")?.addEventListener("click", function() {
          document?.getElementById("seance-modal")?.classList?.add("hidden");
      });

      function downloadPDF() {
          // Create a new jsPDF instance
          var doc = new jsPDF();

          // Get the HTML content of the specific div
          var element = document.getElementById('edt');
          var html = element.innerHTML;

          // Generate the PDF from the HTML content
          doc.fromHTML(html, 15, 15);

          // Download the PDF
          doc.save('emploie_des_temps.pdf');
      }
  </script>
{% endblock %}
