{% extends '../layouts/auth.html' %}
{% block title %}Etudiant - {{ student.user.username }}{% endblock %}
{% block content %}
    {% if student %}
        <header class="w-6/12 mx-auto">
            {% if error %}
                <div class="bg-red-100 border border-red-400 text-red-700 p-2 rounded my-2"
                     role="alert">
                    <strong class="font-bold">Error:</strong>
                    <span class="block sm:inline">{{ error }}</span>
                </div>
            {% endif %}
            <div class="mb-2 flex flex-row align-center justify-end gap-2">
                <button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
                        id="openModal">Modifier</button>
            </div>
            <div class="p-2 rounded bg-blue-100 grid grid-cols-2 gap-3 ">
                <p>
                    Nom d'utilisateur : <b>{{ student.user.username }}</b>
                </p>
                <p>
                    Email : <b>{{ student.user.email }}</b>
                </p>
                <p>
                    Nom : <b>{{ student.user.last_name }}</b>
                </p>
                <p>
                    Prénom : <b>{{ student.user.first_name }}</b>
                </p>
                <p>
                    Crée le : <b>{{ student.user.date_joined }}</b>
                </p>
                <p>
                    Groupe : <b>{{ student.groupe.name }}</b>
                </p>
                <p>
                    Section : <b>{{ student.groupe.section.name }}</b>
                </p>
                <p>
                    Formation : <b>{{ student.groupe.section.formation.name }}</b>
                </p>
                <p>
                    Niveau : <b>{{ student.groupe.section.formation.niveau }}</b>
                </p>
            </div>
        </header>
        <div id="modal"
             class="hidden fixed z-50 inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
            <div class="bg-white w-1/2 p-6 rounded shadow-lg">
                <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                        id="closeModal">X</button>
                <h2 class="mb-4">
                    Modifier l'étudiant <b>{{ student.user.username }}</b>
                </h2>
                <form action="{% url 'student_details' student_id=student.user.id %}"
                      method="post"
                      class="flex flex-col">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="put">
                    <label for="username" class="block mb-2">Nom d'utilisateur:</label>
                    <input type="text"
                           id="username"
                           name="username"
                           value="{{ student.user.username }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded"
                           required>
                    <label for="first_name" class="block mb-2">Prénom:</label>
                    <input type="text"
                           id="first_name"
                           name="first_name"
                           value="{{ student.user.first_name }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <label for="last_name" class="block mb-2">Nom:</label>
                    <input type="text"
                           id="last_name"
                           name="last_name"
                           value="{{ student.user.last_name }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <label for="email" class="block mb-2">Email:</label>
                    <input type="email"
                           id="email"
                           name="email"
                           value="{{ student.user.email }}"
                           class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    <label for="group">Groupe :</label>
                    <select name="group"
                            id="group"
                            class="border border-gray-300 rounded px-4 py-2 w-full mb-4">
                        {% for group in groups %}
                            {% if group.id == student.groupe.id %}
                                <option value="{{ group.id }}" selected>
                                    {{ group.name }} - {{ group.section.name }} - {{ group.section.formation.name }}
                                </option>
                            {% else %}
                                <option value="{{ group.id }}">
                                    {{ group.name }} - {{ group.section.name }} - {{ group.section.formation.name }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit"
                            class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
                        Enregistrer
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
    <script>
        document?.getElementById("openModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.remove("hidden");
        });
        document?.getElementById("closeModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.add("hidden");
        });
    </script>
{% endblock %}
