{% extends '../layouts/auth.html' %}
{% block title %}Etudiants{% endblock %}
{% block content %}

<h2 class="text-3xl font-bold mb-4"># Liste des étudiants</h2>
{% if error %}
<div class="bg-red-100 border border-red-400 text-red-700 p-2 rounded my-2"
     role="alert">
       <strong class="font-bold">Error:</strong>
       <span class="block sm:inline">{{ error }}</span>
</div>
{% endif %}
    <button class="bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 rounded mb-4 ml-auto block"
            id="openModal">Ajouter</button>
    <table class="border-collapse border border-gray-400 w-full">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2">Nom d'utilisateur</th>
                <th class="border border-gray-400 px-4 py-2">Prénom</th>
                <th class="border border-gray-400 px-4 py-2">Nom</th>
                <th class="border border-gray-400 px-4 py-2">Email</th>
                <th class="border border-gray-400 px-4 py-2">Groupe</th>
                <th class="border border-gray-400 px-4 py-2">Section</th>
                <th class="border border-gray-400 px-4 py-2">Formation</th>
                <th class="border border-gray-400 px-4 py-2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td class="border border-gray-400 px-4 py-2">{{ student.user.username }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ student.user.first_name }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ student.user.last_name }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ student.user.email }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ student.groupe.name }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ student.groupe.section.name }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ student.groupe.section.formation.name }}</td>
                    <td class="border border-gray-400 px-4 py-2 flex flex-row gap-1">
                        <form action="{% url 'student_details' student_id=student.user.id %}"
                              method="post">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit"
                                   class="text-red-600 hover:underline cursor-pointer"
                                   value="supprimer">
                        </form>
                        <a href="{% url 'student_details' student_id=student.user.id %}"
                           class="text-blue-600 hover:underline">consulter</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="p-2 text-center">Aucun étudiant à afficher</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination flex items-center justify-center mt-10">
        <span class="step-links">
            {% if students.has_previous %}
                <a href="?page=1" class="text-blue-500 hover:text-blue-700 mr-3">première</a>
                <a href="?page={{ students.previous_page_number }}"
                   class="text-blue-500 hover:text-blue-700 mr-3">précédent</a>
            {% endif %}
            <span class="current text-gray-700 font-bold">Page {{ students.number }} sur {{ students.paginator.num_pages }}.</span>
            {% if students.has_next %}
                <a href="?page={{ students.next_page_number }}"
                   class="text-blue-500 hover:text-blue-700 ml-3">suivant</a>
                <a href="?page={{ students.paginator.num_pages }}"
                   class="text-blue-500 hover:text-blue-700 ml-3">dernière</a>
            {% endif %}
        </span>
    </div>
    <!-- Modal -->
    <div id="modal"
         class="hidden fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
        <div class="bg-white w-1/2 p-6 rounded shadow-lg">
            <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white"
                    id="closeModal">X</button>
            <h2 class="text-lg font-bold mb-4">Ajouter un étudiant</h2>
            <form action="{% url 'students' %}" method="post" class="flex flex-col">
                {% csrf_token %}
                <label for="username" class="block mb-2">Nom d'utilisateur:</label>
                <input type="text"
                       id="username"
                       name="username"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded"
                       required>
                <label for="first_name" class="block mb-2">Prénom:</label>
                <input type="text"
                       id="first_name"
                       name="first_name"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <label for="last_name" class="block mb-2">Nom:</label>
                <input type="text"
                       id="last_name"
                       name="last_name"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <label for="email" class="block mb-2">Email:</label>
                <input type="email"
                       id="email"
                       name="email"
                       class="border border-gray-400 px-4 py-2 mb-4 rounded">
                <label for="group" class="block mb-2">Groupe:</label>
                <select name="group"
                        id="group"
                        class="border border-gray-400 px-4 py-2 mb-4 rounded">
                    {% for group in groups %}
                        <option value="{{ group.id }}">
                            {{ group.section.formation.name }} / {{ group.section.name }} / {{ group.name }}
                        </option>
                    {% endfor %}
                </select>
                <input type="hidden"
                       id="password"
                       name="password"
                       required
                       value="azerty123456">
                <button type="submit"
                        class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Ajouter</button>
            </form>
        </div>
    </div>
    <script>
        document?.getElementById("openModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.remove("hidden");
        });
        document?.getElementById("closeModal")?.addEventListener("click", function() {
            document?.getElementById("modal")?.classList?.add("hidden");
        });
    </script>
{% endblock %}
