{% extends '../layouts/auth.html' %} 
{% block title %}Etudiants{%endblock %} 
{%block content %}

{% if selected_formation and selected_section and selected_group%}
<button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded mb-4 ml-auto block" id="openModal">Ajouter un nouveau groupe</button>
{% endif %}

<form method="get" action="{% url 'students' %}" class="p-1 mt-2 mb-4">
    <label for="formation" class="block text-lg mb-2">Choisir une formation:</label>
    <select name="formation" id="formation" class="border border-gray-300 rounded px-2 py-1 w-72">
      {% for formation in formations %}
      {% if selected_formation.id == formation.id %}
        <option value="{{ formation.id }}" selected>{{ formation.name }}</option>
        {%else%}
        <option value="{{ formation.id }}">{{ formation.name }}</option>
        {%endif%}
      {% endfor %}
    </select>
    
    {% if selected_formation %}
    <select name="section" id="section" class="border border-gray-300 rounded px-2 py-1 w-72">
        {% for section in sections %}
        {% if selected_section.id == section.id %}
          <option value="{{ section.id }}" selected>{{ section.name }}</option>
          {%else%}
          <option value="{{ section.id }}">{{ section.name }}</option>
          {%endif%}
        {% endfor %}
      </select>
    {% endif %}

    {% if selected_section %}
    <select name="group" id="group" class="border border-gray-300 rounded px-2 py-1 w-72">
        {% for group in groups %}
        {% if selected_group.id == group.id %}
          <option value="{{ group.id }}" selected>{{ group.name }}</option>
          {%else%}
          <option value="{{ group.id }}">{{ group.name }}</option>
          {%endif%}
        {% endfor %}
      </select>
    {% endif %}
    <button type="submit" class="p-1 bg-gray-700 text-white rounded">show</button>
  </form>

  {% if selected_formation %}
  <h2 class="text-lg my-1">Formation: <b>{{ selected_formation.name }}</b></h2>
  {% endif %}

  {% if selected_section %}
  <h2 class="text-lg my-1">Section: <b>{{ selected_section.name }}</b></h2>
  {% endif %}
  {% if selected_group %}
  <h2 class="text-lg my-1">Group: <b>{{ selected_group.name }}</b></h2>
  {% endif %}
<table class="border-collapse border border-gray-400 w-full">
    <thead>
        <tr>
            <th class="border border-gray-400 px-4 py-2">Username</th>
            <th class="border border-gray-400 px-4 py-2">First Name</th>
            <th class="border border-gray-400 px-4 py-2">Last Name</th>
            <th class="border border-gray-400 px-4 py-2">Email</th>
            <th class="border border-gray-400 px-4 py-2">Action</th>
            <!-- Add other columns as needed -->
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td class="border border-gray-400 px-4 py-2">{{ student.user.username }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ student.user.first_name }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ student.user.last_name }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ student.user.email }}</td>
                <td class="border border-gray-400 px-4 py-2 flex flex-row gap-1">
                    <form action="{% url 'student_details' student_id=student.user.id %}"
                          method="post">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit"
                               class="text-red-600 hover:underline cursor-pointer"
                               value="supprimer">
                    </form>
                    <a href="{% url 'student_details' student_id=student.user.id %}"
                       class="text-blue-600 hover:underline">consulter</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">Aucun étudiant à afficher</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div id="modal" class="hidden fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
    <div class="bg-white w-1/2 p-6 rounded shadow-lg">
        <button class="block ml-auto h-6 w-6 rounded-full bg-red-700 text-white " id="closeModal">X</button>
        <h2 class="text-lg font-bold mb-4">Ajouter un étudiant</h2>
        <form action="{% url 'students' %}" method="post" class="flex flex-col">
            {% csrf_token %}
            <label for="username" class="block mb-2">Username:</label>
            <input type="text" id="username" name="username" class="border border-gray-400 px-4 py-2 mb-4 rounded" required>
            <label for="first_name" class="block mb-2">First Name:</label>
            <input type="text" id="first_name" name="first_name" class="border border-gray-400 px-4 py-2 mb-4 rounded">
            <label for="last_name" class="block mb-2">Last Name:</label>
            <input type="text" id="last_name" name="last_name" class="border border-gray-400 px-4 py-2 mb-4 rounded">
            <label for="email" class="block mb-2">Email:</label>
            <input type="email" id="email" name="email" class="border border-gray-400 px-4 py-2 mb-4 rounded">
            <input type="hidden" id="group" name="group" required value="{{ selected_group.id }}">
            <input type="hidden" id="password" name="password" required value="azerty123456">
            <button type="submit" class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Ajouter</button>
        </form>
    </div>
</div>

<script>
    document?.getElementById("openModal")?.addEventListener("click", function() {
        document?.getElementById("modal")?.classList?.remove("hidden");
    });
    document?.getElementById("closeModal")?.addEventListener("click", function() {
        document?.getElementById("modal")?.classList?.add("hidden");
    });
</script>
{% endblock %}