{% extends '../layouts/auth.html' %}
{% block title %} EDT - Rechercher{% endblock %}
{% block content %}
    <section class="max-w-md mx-auto">
        <form method="get"
              action="{% url 'students_search' %}"
              class="p-1 mt-2 mb-4">
            <label for="formation" class="block text-lg mb-2">formation:</label>
            <select name="formation"
                    id="formation"
                    class="border border-gray-400 px-4 py-2 mb-4 rounded w-full">
                {% for formation in formations %}
                    {% if selected_formation.id == formation.id %}
                        <option value="{{ formation.id }}" selected>{{ formation.name }} : {{ formation.niveau }}</option>
                    {% else %}
                        <option value="{{ formation.id }}">{{ formation.name }} : {{ formation.niveau }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="level" class="block text-lg mb-2">Niveau:</label>
            <select name="level"
                    id="level"
                    class="border border-gray-400 px-4 py-2 mb-4 rounded w-full">
                {% for level in levels %}
                    {% if selected_level == level %}
                        <option value="{{ level }}" selected>{{ level }}</option>
                    {% else %}
                        <option value="{{ level }}">{{ level }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="semester" class="block text-lg mb-2">Semestre:</label>
            <select name="semester"
                    id="semester"
                    class="border border-gray-400 px-4 py-2 mb-4 rounded w-full">
                {% for semester in semesters %}
                    {% if selected_semester.id == semester.id %}
                        <option value="{{ semester.id }}" selected>{{ semester.name }} : {{ semester.start }} - {{ semester.end }}</option>
                    {% else %}
                        <option value="{{ semester.id }}">{{ semester.name }} : {{ semester.start }} - {{ semester.end }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit" class="p-2 bg-gray-700 text-white rounded">Rechercher</button>
        </form>
    </section>
{% endblock %}
