{% extends '../layouts/auth.html' %}
{% block title %}EDT - Rechercher{% endblock %}
{% block content %}
    <section class="max-w-md mx-auto">
        <form method="get"
              action="{% url 'students_search' %}"
              class="p-1 mt-2 mb-4">
            <label for="formation" class="block text-lg mb-2">formation:</label>
            <select name="formation"
                    id="formation"
                    class="border border-gray-400 px-4 py-2 mb-4 rounded w-full"
                    required>
                {% for formation in formations %}
                    {% if selected_formation.id == formation.id %}
                        <option value="{{ formation.id }}" selected>{{ formation.name }} ({{ formation.niveau }})</option>
                    {% else %}
                        <option value="{{ formation.id }}">{{ formation.name }} ({{ formation.niveau }})</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="semester" class="block text-lg mb-2">Semestre:</label>
            <select name="semester"
                    id="semester"
                    class="border border-gray-400 px-4 py-2 mb-4 rounded w-full"
                    required>
                {% for semester in semesters %}
                    {% if selected_semester.id == semester.id %}
                        <option value="{{ semester.id }}" selected>{{ semester.name }} : {{ semester.start }} - {{ semester.end }}</option>
                    {% else %}
                        <option value="{{ semester.id }}">{{ semester.name }} : {{ semester.start }} - {{ semester.end }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit"
                    class="p-2 bg-gray-700 hover:bg-gray-600 text-white rounded">
                <i class="fa-regular fa-search fa-lg"></i>
                <span>Rechercher</span>
            </button>
        </form>
    </section>
    {% if error %}
        <div class="bg-red-100 border border-red-400 text-red-700 p-2 rounded my-2 max-w-md mx-auto"
             role="alert">
            <strong class="font-bold">Error:</strong>
            <span class="block sm:inline">{{ error }}</span>
        </div>
    {% endif %}
    {% if schedules %}
        <div class="mt-8 max-w-5xl mx-auto">
            <div>
                <h2 class="italic text-lg">Formation : {{ selected_formation.name }}</h2>
                <h2 class="italic text-md">Niveau: {{ selected_formation.niveau }}</h2>
                <h2 class="italic text-md">
                    Semester: {{ selected_semester.name }} : {{ selected_semester.start }} - {{ selected_semester.end }}
                </h2>
            </div>
            {% for schedule in schedules %}
                <section class="my-8 max-w-7xl mx-auto">
                    <h2 class="max-w-md m-auto italic text-2xl font-bold border border-gray-700 p-2 text-center">Section: {{ schedule.section.name }}</h2>
                    <article class="p-2">
                        <div class="mb-2 flex flex-row align-center justify-end gap-2">
                            <button class="bg-green-700 hover:bg-green-600 text-white py-2 px-4 rounded text-sm"
                                    onclick="downloadPDF('{{ schedule.section.id }}', '{{ selected_formation.name }}' , '{{ selected_formation.niveau }}' ,'{{ schedule.section.name }}')">
                                Download PDF
                            </button>
                        </div>
                        <div class="overflow-x-auto p-2">
                            <div class="min-w-max p-4 rounded shadow-md bg-white"
                                 id="edt-{{ schedule.section.id }}">
                                <table class="border-collapse border border-gray-400 w-full">
                                    <thead>
                                        <th class="text-center p-2 border border-gray-400"></th>
                                        <th class="font-semibold text-center p-2 border border-gray-400">Gpe</th>
                                        {% for label in labels %}<th class="font-semibold text-center p-2 border border-gray-400">{{ label }}</th>{% endfor %}
                                    </thead>
                                    <tbody>
                                        <tr style="height: 1px;">
                                            <td style="height: inherit;" class="border border-gray-400 text-center p-2 font-semibold">Dimanche</td>
                                            <td style="height: inherit;" class="border border-gray-400 text-center">
                                                {% for group in schedule.groups %}
                                                    <div class="border border-white p-2 bg-orange-400 font-bold">{{ group.name }}</div>
                                                {% endfor %}
                                            </td>
                                            {% for seance in schedule.dimanche %}
                                                {% if seance.type == "cours" %}
                                                    <td style="height: inherit;" class="text-center p-2 flex flex-col gap-1">
                                                        <span class="font-bold text-xs">{{ seance.subject.name }}</span>
                                                        <span class="font-bold text-xs">({{ seance.enseignant.user.first_name }} {{ seance.enseignant.user.last_name }})</span>
                                                        <span class="font-bold text-xs">{{ seance.salle.name }}</span>
                                                    </td>
                                                {% else %}
                                                    <td style="height: inherit;" class="border border-gray-400 text-center">
                                                        <table class="text-center border-collapse w-full h-full">
                                                            <tbody>
                                                                {% for gpe in seance %}
                                                                    <tr>
                                                                        {% if gpe %}
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">{{ gpe.type }}</td>
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">
                                                                                {{ gpe.subject.name }}
                                                                                <br />
                                                                                ({{ gpe.enseignant.user.first_name }} {{ gpe.enseignant.user.last_name }})
                                                                            </td>
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">{{ gpe.salle.name }}</td>
                                                                        {% else %}
                                                                        <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr style="height: 1px;">
                                            <td style="height: inherit;" class="border border-gray-400 font-semibold text-center p-2">Lundi</td>
                                            <td style="height: inherit;" class="border border-gray-400 text-center">
                                                {% for group in schedule.groups %}
                                                    <div class="border border-white p-2 bg-orange-400 font-bold">{{ group.name }}</div>
                                                {% endfor %}
                                            </td>
                                            {% for seance in schedule.lundi %}
                                                {% if seance.type == "cours" %}
                                                    <td style="height: inherit;" class="text-center p-2 flex flex-col gap-1">
                                                        <span class="font-bold text-xs">{{ seance.subject.name }}</span>
                                                        <span class="font-bold text-xs">({{ seance.enseignant.user.first_name }} {{ seance.enseignant.user.last_name }})</span>
                                                        <span class="font-bold text-xs">{{ seance.salle.name }}</span>
                                                    </td>
                                                {% else %}
                                                    <td style="height: inherit;" class="border border-gray-400">
                                                        <table class="text-center border-collapse w-full h-full">
                                                            <tbody>
                                                                {% for gpe in seance %}
                                                                    <tr>
                                                                        {% if gpe %}
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">{{ gpe.type }}</td>
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">
                                                                                {{ gpe.subject.name }}
                                                                                <br />
                                                                                ({{ gpe.enseignant.user.first_name }} {{ gpe.enseignant.user.last_name }})
                                                                            </td>
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">{{ gpe.salle.name }}</td>
                                                                        {% else %}
                                                                        <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr style="height: 1px;">
                                            <td style="height: inherit;" class="border border-gray-400 font-semibold text-center p-2">Mardi</td>
                                            <td style="height: inherit;" class="border border-gray-400 text-center">
                                                {% for group in schedule.groups %}
                                                    <div class="border border-white p-2 bg-orange-400 font-bold">{{ group.name }}</div>
                                                {% endfor %}
                                            </td>
                                            {% for seance in schedule.mardi %}
                                                {% if seance.type == "cours" %}
                                                    <td style="height: inherit;" class="text-center p-2  flex flex-col gap-1">
                                                        <span class="font-bold text-xs">{{ seance.subject.name }}</span>
                                                        <span class="font-bold text-xs">({{ seance.enseignant.user.first_name }} {{ seance.enseignant.user.last_name }})</span>
                                                        <span class="font-bold text-xs">{{ seance.salle.name }}</span>
                                                    </td>
                                                {% else %}
                                                    <td style="height: inherit;" class="border border-gray-400">
                                                        <table class="text-center border-collapse w-full h-full">
                                                            <tbody>
                                                                {% for gpe in seance %}
                                                                    <tr>
                                                                        {% if gpe %}
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">{{ gpe.type }}</td>
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">
                                                                                {{ gpe.subject.name }}
                                                                                <br />
                                                                                ({{ gpe.enseignant.user.first_name }} {{ gpe.enseignant.user.last_name }})
                                                                            </td>
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">{{ gpe.salle.name }}</td>
                                                                        {% else %}
                                                                            <td class="bg-blue-200 p-2 border border-white"></td>
                                                                            <td class="bg-blue-200 p-2 border border-white"></td>
                                                                            <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr style="height: 1px;">
                                            <td style="height: inherit;" class="border border-gray-400 font-semibold text-center p-2">Mercredi</td>
                                            <td style="height: inherit;" class="border border-gray-400 text-center">
                                                {% for group in schedule.groups %}
                                                    <div class="border border-white p-2 bg-orange-400 font-bold">{{ group.name }}</div>
                                                {% endfor %}
                                            </td>
                                            {% for seance in schedule.mercredi %}
                                                {% if seance.type == "cours" %}
                                                    <td style="height: inherit;" class="text-center p-2 flex flex-col gap-1">
                                                        <span class="font-bold text-xs">{{ seance.subject.name }}</span>
                                                        <span class="font-bold text-xs">({{ seance.enseignant.user.first_name }} {{ seance.enseignant.user.last_name }})</span>
                                                        <span class="font-bold text-xs">{{ seance.salle.name }}</span>
                                                    </td>
                                                {% else %}
                                                    <td style="height: inherit;" class="border border-gray-400">
                                                        <table class="text-center border-collapse w-full h-full">
                                                            <tbody>
                                                                {% for gpe in seance %}
                                                                    <tr>
                                                                        {% if gpe %}
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">{{ gpe.type }}</td>
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">
                                                                                {{ gpe.subject.name }}
                                                                                <br />
                                                                                ({{ gpe.enseignant.user.first_name }} {{ gpe.enseignant.user.last_name }})
                                                                            </td>
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">{{ gpe.salle.name }}</td>
                                                                        {% else %}
                                                                        <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr style="height: 1px;">
                                            <td style="height: inherit;" class="border border-gray-400 font-semibold text-center p-2">Jeudi</td>
                                            <td style="height: inherit;" class="border border-gray-400 text-center">
                                                {% for group in schedule.groups %}
                                                    <div class="border border-white p-2 bg-orange-400 font-bold">{{ group.name }}</div>
                                                {% endfor %}
                                            </td>
                                            {% for seance in schedule.jeudi %}
                                                {% if seance.type == "cours" %}
                                                    <td style="height: inherit;" class="text-center p-2 flex flex-col gap-1">
                                                        <span class="font-bold text-xs">{{ seance.subject.name }}</span>
                                                        <span class="font-bold text-xs">({{ seance.enseignant.user.first_name }} {{ seance.enseignant.user.last_name }})</span>
                                                        <span class="font-bold text-xs">{{ seance.salle.name }}</span>
                                                    </td>
                                                {% else %}
                                                    <td style="height: inherit;" class="border border-gray-400">
                                                        <table class="text-center border-collapse w-full h-full">
                                                            <tbody>
                                                                {% for gpe in seance %}
                                                                    <tr>
                                                                        {% if gpe %}
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">{{ gpe.type }}</td>
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">
                                                                                {{ gpe.subject.name }}
                                                                                <br />
                                                                                ({{ gpe.enseignant.user.first_name }} {{ gpe.enseignant.user.last_name }})
                                                                            </td>
                                                                            <td class="border border-white p-2 bg-orange-400 font-bold break-words text-xs">{{ gpe.salle.name }}</td>
                                                                        {% else %}
                                                                        <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        <td class="bg-blue-200 p-2 border border-white"></td>
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </article>
                </section>
            {% endfor %}
        </div>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js" integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        function downloadPDF(id, formation, niveau, section) {
            const doc = new jspdf.jsPDF();
            const element = document.getElementById('edt-' + id);
          
            // Save the current height of the element and set it to the full scroll height
            const originalHeight = element.style.height;
            const scrollHeight = element.scrollHeight;
            element.style.height = scrollHeight + 'px';
          
            // Scroll the element into view
            element.scrollIntoView();
          
            // Wait for a brief moment to ensure the element is fully visible
            setTimeout(() => {
              domtoimage.toPng(element)
                .then((dataUrl) => {
                  const img = new Image();
                  img.src = dataUrl;
                  img.onload = () => {
                    // Calculate the desired dimensions for the image in the PDF
                    const pdfWidth = doc.internal.pageSize.getWidth() - 30; // Adjust the margins if needed
                    const pdfHeight = (scrollHeight * pdfWidth) / element.offsetWidth;
          
                    // Add the image to the PDF
                    doc.addImage(img, 'PNG', 15, 15, pdfWidth, pdfHeight);
                    doc.save(`formation_${formation}-niveau_${niveau}-section_${section}`);
          
                    // Reset the height of the element to its original value
                    element.style.height = originalHeight;
                  };
                })
                .catch((error) => {
                  console.error('Error generating PDF:', error);
                });
            }, 500);
          }
          
    </script>
{% endblock %}
